@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Playwrite+IT+Moderna:wght@100..400&family=Shadows+Into+Light&display=swap");
@import "tailwindcss";

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
